html, body {
    height: 100%;
    text-align: center;
}

body {
    padding-top: 65px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* Homepage */

.intro {
    transform: translateY(auto);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.intro > h1 {
    color: #212121;
    font-size: 6vh;
    padding-bottom:30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.intro p:nth-of-type(2) {
    text-align: center; /* Centre le deuxième paragraphe */
}

/* Page content */


.content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto; /* Ajoute un espace de 20px en haut et en bas, centré horizontalement */

}

.content {
    padding-top: 20px;
    text-align: justify;
    margin: 40px auto; /* Ajoute un espace de 40px en haut et en bas, centré horizontalement */
}

.content p {
    margin: 0; /* Réinitialise la marge pour tous les paragraphes */
    margin-bottom: 20px; /* Ajoute un espace de 20px en bas de chaque paragraphe */

}

.content p:first-of-type {
    text-align: center; /* Centre le premier paragraphe */
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

